<div class="container my-3">
  <%= simple_form_for @patient do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :cpf %>
  <%= f.input :gender, collection: Patient::AVAILABLE_GENDERS %>
  <%= f.input :room, collection: @rooms.ids %>
  <% if @errors %>
    <div class="mb-3 fw-bold small"><%= @errors %></div>
  <% end %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
