<div class="container my-3">
  <%= simple_form_for @patient do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :cpf, label_html: { class: 'text-uppercase' } %>
  <%= f.input :gender, collection: Patient::AVAILABLE_GENDERS %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>


  <div class="row my-3">
    <div class="d-flex">
      <%= link_to "Back to all Patients", patients_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
